<hr>
<div id="footer" class="social-buttons">
	<div class="icon">
			<i class="fa fa-send-o fa-2x"></i>
			{% if site.email %}
				{{site.email}}
			{% endif %}
		
			<div class = "pull-right">
				{% if site.github_username %}
				<a href="https://github.com/{{site.github_username}}">
					<i class="fa fa-github fa-2x"></i>
				</a>
				{% endif %}
				
				{% if site.bitbucket_username %}
				<a href="https://bitbucket.org/{{site.bitbucket_username}}/">
					<i class="fa fa-bitbucket fa-2x"></i>
				</a>
				{% endif %}
				
				{% if site.gitlab_username %}
				<a href="https://gitlab.com/{{site.gitlab_username}}">
					<i class="fa fa-gitlab fa-2x"></i>
				</a>
				{% endif %}
			</div>
	</div>
</div>	
<br> <!--Adds extra padding at bottom of page -->