<div id="footer" class="social-buttons">
	<div class="icon">
			<i class="fa fa-send-o fa-2x"></i>
			{% if site.email %}
				{{site.email}}
			{% endif %}
		
			<div class = "pull-right">
				<a href="https://github.com/meganchen">
					<i class="fa fa-github fa-2x"></i>
				</a>
		
				<a href="https://bitbucket.org/themeganchen/">
					<i class="fa fa-bitbucket fa-2x"></i>
				</a>
		
				<a href="https://gitlab.com/meganchen">
					<i class="fa fa-gitlab fa-2x"></i>
				</a>
			</div>
	</div>
</div>	
<br> <!--Adds extra padding at bottom of page -->