<div id="footer" class="social-buttons">
	<div class="icon">
			<i class="fa fa-send-o fa-2x"></i>
			{% if site.email %}
				{{site.email}}
			{% endif %}
		
			<div class = "pull-right">
				{% if github_username %}
				<a href="https://github.com/{{github_username}}">
					<i class="fa fa-github fa-2x"></i>
				</a>
				{% endif %}
				
				{% if bitbucket_username %}
				<a href="https://bitbucket.org/{{bitbucket_username}}/">
					<i class="fa fa-bitbucket fa-2x"></i>
				</a>
				{% endif %}
				
				{% if gitlab_username %}
				<a href="https://gitlab.com/{{gitlab_username}}">
					<i class="fa fa-gitlab fa-2x"></i>
				</a>
				{% endif %}
			</div>
	</div>
</div>	
<br> <!--Adds extra padding at bottom of page -->