<!--<div class="menu">
    <div class="container">
			<div class="row">
				<div class="col-lg-10 col-centered">
					<div class="navbar-header">
						<a href="{{site.baseurl}}/index.html"><h3>Megan Chen</h3></a>
					</div>
					<div>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{site.baseurl}}/math_writing.html" > Math Writing</a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</div>-->

<div class="page-header">
	<a id="header-name" href="{{site.baseurl}}/index.html"><h3> Megan Chen </h3></a>
</div>