<!DOCTYPE html>
<html lang="en" ng-app>
	
	{% include head.html %}
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-centered">
					{% include header.html %}
					
					{{ content }}
					
					{% for post in site.posts %}
					      <a href='{{ post.url }}'>
									<h3> {{ post.title }} </h3>
									<p> {{ post.date | date_to_string }} </p>
								</a>
					 {% endfor %}

		      {% include footer.html %}
				
				</div>
			</div>
		</div>
	</body>
</html>